{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "vueIndentScriptAndStyle": false
}
