@import 'tailwindcss';
@import './theme/default.css';
@import './theme/dedark.css';

@plugin 'daisyui' {
  themes: default --default, dedark --prefersdark;
}

@font-face {
  font-family: 'D-DIN';
  src: url('../assets/fonts/D-DIN-Bold.woff2') format('woff2'),
    url('../assets/fonts/D-DIN-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.font-number {
  font-family: 'D-DIN', 'SF Pro', sans-serif;
}

:root {
  font-family: system-ui, 'SF Pro Display', 'Noto Sans', 'Noto Sans SC', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-base-content);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
